.sub-footer ul li a,
.footer-links ul li a {
  text-decoration: none;
  color: #7b7a7c;
}
.sub-footer ul li a:hover,
.footer-links ul li a:hover {
  color: #3f3f44;
}

/* sub-footer */
.sub-footer {
  background: #f7f7f7;
}

.sub-footer ul {
  height: 70px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
/* wrapper */
.wrapper {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 50px 30px;
}
.footer-links {
  flex: 2;
  display: flex;
  justify-content: space-around;
}

/* sotial */
.footer-social {
  flex: 1;
}
.footer-social h4 {
  color: #62509b;
  margin: 0px 20px 20px 0px;
  font-weight: 400;
}
.footer-social h5 {
  margin-bottom: 10px;
  color: #7b7a7c;
  font-weight: 400;
}

.email-address {
  background: #fff;
  width: 350px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #9b9b9b96;
  border-radius: 2px;
  padding: 7px;
  gap: 7px;
  margin-bottom: 20px;
}
.email-address input {
  border: none;
  outline: none;
  background: inherit;
  flex: 7;
}
.email-address button {
  width: 40px;
  height: 30px;
  border: none;
  background: #62509b;
  color: #fff;
  border-radius: 3px;
}

.footer-social ul {
  border-top: 1px solid #9b9b9b96;
  padding-top: 20px;
  display: flex;
  font-size: 23px;
  justify-content: start;
  gap: 5px;
}
.footer-social ul li a {
  color: #9b9b9b;
}
.footer-social ul li a:hover {
  color: #62509b;
}
/* tertiary */
.tertiary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
}
.tertiary > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #3f3f44;
  font-size: 11px;
  font-weight: 700;
}
.cookie ul {
  display: flex;
  gap: 10px;
}
.cookie ul li a {
  color: #3f3f44;
}

