@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Rubik+Puddles&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}
body {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #3f3f44;
}